<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzteleader.wlanReportUtils.dao.UsertypeMapper">
  <resultMap id="BaseResultMap" type="com.gzteleader.wlanReportUtils.entity.Usertype">
    <id column="ut_id" jdbcType="VARCHAR" property="utId" />
    <result column="ut_type" jdbcType="VARCHAR" property="utType" />
    <result column="ut_delete" jdbcType="BIT" property="utDelete" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from usertype
    where ut_id = #{utId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gzteleader.wlanReportUtils.entity.Usertype">
    insert into usertype (ut_id, ut_type, ut_delete
      )
    values (#{utId,jdbcType=VARCHAR}, #{utType,jdbcType=VARCHAR}, #{utDelete,jdbcType=BIT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gzteleader.wlanReportUtils.entity.Usertype">
    update usertype
    set ut_type = #{utType,jdbcType=VARCHAR},
      ut_delete = #{utDelete,jdbcType=BIT}
    where ut_id = #{utId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ut_id, ut_type, ut_delete
    from usertype
    where ut_id = #{utId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ut_id, ut_type, ut_delete
    from usertype
  </select>
</mapper>